.root {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 2.5%;
}

.root h1 {
  flex: 1 100%;
  font-size: 2.75em;
  margin: 0 0 1.2em;
}

.columnLeft {
  flex: 0 0 35%;
  padding-top: 6em;
}

.columnRight {
  flex: 0 0 60%;
}

.columnRight p {
  font-size: 1.4em;
  line-height: 1.5em;
}

.readMore {
  font-weight: bold;
  font-size: 1.5em;
  text-transform: uppercase;
}

.dateline {
  font-size: 1.25em;
  margin: 0 0 2em;
}
