.root {
  background: white;
  padding: 0 0 1em;
  box-sizing: border-box;
  margin-bottom: 2em;
  overflow: hidden;
}

.root > * {
  padding: 0 3%;
}

.root h3 {
  font: bold 1.5em var(--oswald);
  text-transform: uppercase;
}

.root header {
  margin: 1em 0;
}

.root .imgContainer {
  padding: 0;
  margin: 0 0 1em;
}

.root h2 {
  font-size: 1.6em;
  line-height: 1.4em;
  margin: 0 0 0.75em;
}

.root a {
  color: var(--col-blue);
}

.root h2 a {
  color: inherit;
}

.root h2 a:hover {
  color: var(--col-blue);
}
