/* TODO: somehow combine with cards */
.root {
  font-size: 1.3em;
  background-color: white;
  height: 100%;
}

.root h1 {
  margin: 0.5em 0 0;
  font: 600 1.6em var(--merriweather);
}

.root p,
.root h1 {
  padding: 0 2%;
}

.root p a {
  color: var(--col-blue);
  font-weight: 600;
}

.root h1 a:hover {
  color: var(--col-blue);
}
