.tile header {
  padding: 0.75em;
}

.tile header h3 {
  font: bold 1.5em var(--oswald);
  text-transform: uppercase;
}

.header {
  padding: 0 0.75%;
  margin: 3em auto 0.5em;
  box-sizing: border-box;
}

.headerRow {
  margin-bottom: 2em;
}

.collection {
  padding: 0 0.75%;
  box-sizing: border-box;
}
