.tile header {
}

.tile header h3 {
  font: bold 1.5em var(--oswald);
  text-transform: uppercase;
}

.header {
  margin: 3em auto 0.5em;
  padding-left: 4%;
  padding-right: 2%;
}

.header a {
  color: inherit;
}

.header a:hover {
  color: var(--col-blue);
}

.mapContainer {
  flex: 1 0 38em;
}

.zoomOutButton {
  position: absolute;
  right: 0;
  color: white;
  z-index: 10;
  padding: 0.25em;
  margin: 0.5em;
  background-color: rgba(0, 0, 0, 0.4);
}
