@lost flexbox flex;
@lost gutter 1em;

.grid {
  lost-center: 980px;
  background-color: rgba(0, 0, 0, 0.1);
}

.grid > *,
.grid--item,
.grid--item__quarter {
  lost-column: 3/12;
  margin: 0 0 1em;
  /* flex: 1 0 25%;
  max-width: 40%; */
}

.grid--item__third {
  lost-column: 4/12 3;
}

.grid--item__two-thirds {
  lost-column: 8/12 2;
}

.grid--item__half {
  lost-column: 6/12 2;
  /* flex: 1 0 40%;
  max-width: 50em; */
}

.grid--item__full {
  lost-column: 1;
  /* flex: 1 0 40%;
  max-width: none; */
}

/* .small {
  flex: 1 1 20em;
  background-color: white;
  max-width: 40em;
}
.medium {
  flex: 3 1 50em;
  background-color: white;
  max-width: 80em;
}
.large {
  flex: 1 1 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background: inherit;
  align-items: start;
} */
