@lost flexbox flex;
@lost gutter 0;
/* .grid {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  
}

.grid > * {
  margin: 0 1% 2%;
  transition: all 0.3s;
}

.grid > *,
.grid__quarter {
  flex: 1 1 20em;
  max-width: 40em;
} */

.grid {
  lost-center: 980px;
  background-color: rgba(0, 0, 0, 0.1);
}

.grid > *,
.grid--item,
.grid--item__quarter {
  lost-column: 3/12 0;
  flex: 1 0 20%;
  max-width: 50%;
}

.grid--item__half {
  lost-column: 6/12 0;
  flex: 1 0 40%;
  max-width: 50em;
}

/* .small {
  flex: 1 1 20em;
  background-color: white;
  max-width: 40em;
}
.medium {
  flex: 3 1 50em;
  background-color: white;
  max-width: 80em;
}
.large {
  flex: 1 1 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background: inherit;
  align-items: start;
} */
