.root {
  margin-top: 2em;
}
.group {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.root ul {
  background-color: white;
  margin: 0 1% 2%;
}
.small {
  flex: 1 1 30em;
}
.medium {
  flex: 3 1 50em;
}
.large {
  flex: 1 1 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  background: inherit;
}
