.root {
  display: flex;
}

.root h2 {
  margin: 0.5em 1rem;
  font-size: 1.75em;
}

.root h1 {
  font-size: 2.75em;
  margin: 2em 1% 0.5em;
}

.grid {
  padding: 1%;
  max-width: 1200px;
}

.rightGutter {
  width: 18em;
  padding: 1%;
  background-color: var(--col-grey);
  color: #666;
}

.rightGutter h4 {
  font: 1.75em var(--opensans);
  margin: 0 0 0.5em;
  font-weight: bold;
}

.block {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  white-space: pre;
  box-shadow: inset 0 0 2em rgba(0, 0, 0, 0.25);
}

.mapTile {
  flex: 0 0 30em;
}

.root input[type='number'] {
  width: 2.5em;
}

.root .rightGutter button {
  margin: 1em 0 0;
  font-size: 1.6em;
}

.main {
  flex: 1;
  padding: 1% 0;
}

.categoryInput {
  font-size: 0.8em;
  padding: 1em 0 0;
}

.categoryInput:first-of-type {
  border-top: none;
}

.categoryInput h4,
.categoryInput > div {
  flex: 100%;
}

.categoryInput > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 0 1em;
}

.group {
  display: flex;
  /* justify-content: space-between; */
  flex-wrap: wrap;
}

.group > * {
  margin: 0 1% 2%;
  transition: all 0.3s;
}

.small {
  flex: 1 1 20em;
  background-color: white;
  max-width: 40em;
}
.medium {
  flex: 3 1 50em;
  background-color: white;
  max-width: 80em;
}
.large {
  flex: 1 1 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background: inherit;
  align-items: start;
}

.large h2 {
  margin: 0.5em 0 1em;
  flex: 1 1 100%;
}

/* -- Expandles */

button.expander {
  display: block;
  background-color: var(--col-grey);
  width: 100%;
  font-size: 1.4em;
  font-family: var(--oswald);
  text-transform: uppercase;
}
