.root {
  height: 100%;
  background-color: white;
}

.root h3 {
  font: bold 1.5em var(--opensans);
}
.root > a {
  display: block;
  color: inherit;
  transition: background 0.3s;
  cursor: pointer;
}

.root > * {
  padding: 1.2em;
}

.root > a:hover {
  /* background: var(--col-light-grey); */
}

.root h4 {
  font: normal 1.3em var(--oswald);
  color: var(--col-orange);
}

.root h3 {
  font: 600 1.3em/1.5em var(--merriweather);
}

.root h4 > * {
  flex: 1;
}

.root h4 a {
  color: var(--col-text);
}

.root h4 a:hover {
  text-decoration: none;
  color: var(--col-blue);
}

.root {
  border-bottom: 1px solid var(--col-light-grey);
}

.root p {
  font-size: 1.3em;
  line-height: 1.5em;
}

.root:last-child {
  border-bottom: 0;
}

.root > * a {
  color: var(--col-blue);
  transition: color 0.3s;
}

.root > * a:hover {
  color: var(--col-text);
}

.root h5 {
  font-size: 1.2em;
  margin: 0;
}

.columnContainer,
a.columnContainer {
  display: flex;
  justify-content: space-between;
}

.columnContainer > * {
  flex: 12;
}

a.readMore {
  margin: 0.5em 0 0;
  text-align: right;
  white-space: nowrap;
}

.imgContainer {
}

.imgContainer img {
  max-height: 14em;
  object-fit: cover;
  display: block;
}

/* -- Size 0 -- */

.size-0 > * {
  /* height: 8em; */
}

.size-0 > * {
  /* padding: 0.5em 15% 0.5em 1em; */
}

.size-0 h3 {
}

.size-0 h4 {
  margin: 0 0 0.25em;
}

.size-0 h4 a {
  color: var(--col-text);
}

.size-0 img {
  width: 100%;
  margin: 0 0 1em;
}

/* -- Social -- */
.social {
  /* padding: 1.2em; */
}

/* -- Size 1 -- */

.size-1 > div {
  padding: 0 0 2em;
}

.size-1 > div > * {
  padding: 0 1em;
}

.size-1 .imgContainer {
  flex: 7;
  margin: 0 0 1em 0;
}
.size-1 h3 {
  font-size: 1.75em;
}
.size-1 h3 a {
  color: var(--col-black);
}
.size-1 h3 a:hover {
  color: var(--col-blue);
}
.size-1 h4 em {
  font-style: normal;
  color: var(--col-text);
  display: inline-block;
}
.size-1 .readMore {
  text-align: left;
}

/* -- Size 2 -- */

.size-2 {
  background: white;
  height: 100%;
}

.size-2 > * {
  padding: 0 0 1em;
}

.size-2 h3,
.size-2 h4,
.size-2 p {
  padding: 0 1.5rem;
}

.size-2 h3 {
  font-size: 2em;
}
.size-2 h5 {
  font: normal 1.25em var(--oswald);
}
.size-2 .imgContainer {
  margin: 0 0 2em;
  position: relative;
}
.size-2 .imgOverlay {
  background: rgba(255, 255, 255, 0.6);
  bottom: 0;
  width: 100%;
  position: absolute;
  padding: 0.25em 1em;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}
.size-2 h3 {
  font-size: 1.75em;
}
.size-2 h3 a {
  color: var(--col-black);
}
.size-2 h3 a:hover {
  color: var(--col-blue);
}
@media (min-width: 650px) {
  .size-2 {
    flex: 0 0 32%;
  }
}
