.imgContainer {
  padding: 0;
  margin: 0 0 1em;
}

.root {
  margin-bottom: 10em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

ul.itemList {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

button.readmore {
  width: 100%;
  background-color: var(--col-grey);
  color: var(--col-text);
  font-size: 1.5em;
  padding: 1em 0;
}
