.root h3 {
  font: bold 1.5em var(--opensans);
}
.root > a {
  display: block;
  color: inherit;
  transition: background 0.3s;
  cursor: pointer;
}

.root > a:hover {
  background: var(--col-light-grey);
}

.root h4 {
  font: normal 1.2em var(--oswald);
  color: var(--col-orange);
}

.root {
  border-bottom: 1px solid var(--col-light-grey);
}

.root:last-child {
  border-bottom: 0;
}

.root h5 {
  font-size: 1.2em;
  margin: 0;
}

.columnContainer,
a.columnContainer {
  display: flex;
  justify-content: space-between;
}

.columnContainer > * {
  flex: 12;
}

a.readMore {
  display: block;
  margin: 0.5em 0 0;
  color: var(--col-blue);
  text-align: right;
}

/* -- Size 0 -- */

.size-0 > * {
  padding: 2% 12% 2% 2%;
}

.size-0 h4 a {
  color: var(--col-text);
}

.size-0 p {
  font-size: 1.3em;
  line-height: 1.4em;
}

/* -- Social -- */

.size-0 > .social {
  padding: 2%;
}

/* -- Size 1 -- */

.size-1 > a {
  padding: 2% 3% 2% 2%;
}
.size-1 .imgContainer {
  flex: 7;
  margin: 0 2em 0 0;
}
.size-1 h3 {
  font-size: 1.75em;
}
.size-1 h4 em {
  font-style: normal;
  color: var(--col-text);
  display: inline-block;
}

/* -- Size 2 -- */

.size-2 {
  display: flex;
  justify-content: stretch;
  background: white;
}

.size-2 h3,
.size-2 h4,
.size-2 h5,
.size-2 p {
  padding: 0 5%;
}

.size-2 h3 {
  font-size: 2em;
}
.size-2 h5 {
  line-height: 1.5em;
}
.size-2 .imgContainer {
  margin: 0 0 2em;
}

@media (min-width: 650px) {
  .size-2 {
    flex: 0 0 32%;
  }
}
