.imgContainer {
  padding: 0;
  margin: 0 0 1em;
}

.root {
  margin-bottom: 10em;
}

.root h3 {
  font-family: bold 1.6em var(--opensans);
}

.root h4 {
  font: normal 1.2em var(--oswald);
  color: var(--col-orange);
}

ul.itemList {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul.itemList li {
  border-bottom: 1px solid var(--col-light-grey);
  padding: 2% 12% 2% 2%;
}

ul.itemList li:last-child {
  border-bottom: 0;
}

.root {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
}

.root > * {
}

/* Carousel */
.listContainer {
  width: 33%;
  margin: 0 2%;
  background-color: white;
  overflow: hidden;
}

.carousel {
  width: 100%;
  display: flex;
  transition: transform 0.3s;
}

.carousel > * {
  flex: 1;
}
