@import './type.css';
@import './grid.css';
@custom-media --viewport-medium (width <= 50rem);

:root {
  font-size: 10px;

  /* colors */
  --col-text: #404555;
  --col-light-grey: #ebebec;
  --col-grey: #d6d7db;
  --col-grey-text: #8c8f98;
  --col-orange: #fc8b00;
  --col-blue: #45aaf2;
  --col-red: #ff003b;

  /* fonts */
  --oswald: 'Oswald', sans-serif;
  --merriweather: 'Merriweather', serif;
  --opensans: 'Open Sans', sans-serif;

  color: var(--col-text);
  background: var(--col-light-grey);
  font-family: var(--opensans);
}

ul {
  list-style-type: none;
  padding: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

/* Placeholder settings  */
.placeholder {
  background-color: var(--col-text);
}

.settings {
  padding: 5%;
  text-align: right;
  width: 100%;
}

h4.placeholderEmpty {
  font: bold 4em var(--oswald);
  text-transform: uppercase;
  opacity: 0.25;
  margin-left: 5%;
  margin-right: 5%;
}

body.modal-is-open {
  overflow: hidden;
}

/* Buttons */
button,
.button {
  border: 0;
  cursor: pointer;
}
button:focus {
  outline: 0;
}
button:disabled:hover {
  text-decoration: none;
}
button:hover {
  text-decoration: underline;
}

.button {
  display: inline-block;
  background-color: var(--col-grey);
  padding: 0.75em 0.5em;
}

/* Forms */

label {
  margin-right: 1em;
}

/* Utilities */
.constrain {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  padding: 0 2%;
}

/* Animations */
.modal-enter {
  opacity: 0.01;
}

.modal-enter.modal-enter-active {
  opacity: 1;
  transition: opacity 0.5s ease-in;
}

.modal-leave {
  opacity: 1;
}

.modal-leave.modal-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

/* Drop down */
.Dropdown-root {
  background-color: var(--col-grey);
  padding: 0.75em 0.75em;
  min-width: 10em;
}

.Dropdown-menu {
  position: absolute;
  z-index: 100;
  background: white;
  cursor: pointer;
}

.Dropdown-control {
  display: flex;
  cursor: pointer;
  align-items: center;
}

.Dropdown-arrow-wrapper {
  margin: 0 0 0 0.5em;
  height: 0.25em;
  width: 0.25em;
  border-right: 1px solid var(--col-text);
  border-bottom: 1px solid var(--col-text);
  transform: rotate(45deg);
}

.Dropdown-root.is-open .Dropdown-arrow-wrapper {
  transform: rotate(-135deg);
}

.Dropdown-option {
  padding: 0.2em 0.5em;
  width: 10em;
  box-sizing: border-box;
  color: var(--col-black);

  &:hover {
    background-color: var(--col-text);
    color: white;
  }
}

.Dropdown-root.big {
  background-color: transparent;

  .Dropdown-control {
    font: bold 4em var(--merriweather);
  }
  .Dropdown-arrow-wrapper {
    border-right: 0.1em solid var(--col-text);
    border-bottom: 0.1em solid var(--col-text);
  }
  .Dropdown-menu {
    font: bold 1.5em var(--merriweather);
    display: flex;
    max-width: 40em;
    width: 100%;
    flex-wrap: wrap;
  }
}
