.root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.root nav {
}

.root > article {
  flex: 1;
}

.root h2 {
  font-size: 1.4em;
}

.root p {
  font-size: 1.2em;
}

/* Footer menu */

.root footer {
  background: var(--col-text);
  color: var(--col-grey);
}

.root footer a {
  color: inherit;
  display: block;
  transition: all 0.3s;
  height: 100%;
  box-sizing: border-box;
}

.root footer a.active {
  background: white;
  color: var(--col-text);
}

.root footer ul {
  display: flex;
  margin: 0 auto;
  padding: 0 2%;
}

.root footer li > * {
  padding: 0.75em 1em;
}

.root footer li {
  font-size: 1.5rem;
  white-space: nowrap;
  margin: 0;
  display: flex;
  align-items: center;
}

.root footer em {
  font-family: monospace;
  font-style: normal;
  color: var(--col-orange);
}

/* Sections menu */
.sectionsMenu {
  display: flex;
}

.sectionsMenu li {
  margin-left: 1em;
}

.sectionsMenu a {
  display: block;
  font: bold 2em var(--oswald);
  padding: 0.1em;
  width: 1.75em;
  text-align: center;
  color: var(--col-text);
  border: 2px solid var(--col-text);
  transition: all 0.3s;
}

.sectionsMenu a.active {
  background: var(--col-text);
  color: white;
}

.sectionsMenu .helpLink {
  margin-left: auto;
}
.helpLink a {
  width: 1.6em;
  border-radius: 50%;
}
