.root nav {
  background: var(--col-text);
  color: var(--col-grey);
}

.root h2 {
  font-size: 1.4em;
}

.root p {
  font-size: 1.2em;
}

.root a {
  color: inherit;
  display: block;
  padding: 0.75em 1em;
  transition: all 0.3s;
  height: 100%;
  box-sizing: border-box;
}

.root a.active {
  background: white;
  color: var(--col-text);
}

.root ul {
  display: flex;
  margin: 0 auto;
  padding: 0 2%;
}

.root li {
  font-size: 1.5rem;
  white-space: nowrap;
  margin: 0;
}

.root em {
  font-family: monospace;
  font-style: normal;
  color: var(--col-orange);
}
