.root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.root > article {
  flex: 1;
}

.root h2 {
  font-size: 1.4em;
}

.root p {
  font-size: 1.2em;
}

/* Footer menu */

.root footer {
  margin-top: 6em;
  background: var(--col-text);
  color: var(--col-grey);
}

.root footer a {
  color: inherit;
  display: block;
  transition: all 0.3s;
  height: 100%;
  box-sizing: border-box;
}

.root footer a.active {
  background: white;
  color: var(--col-text);
}

.root footer ul {
  display: flex;
  margin: 0 auto;
  padding: 0 2%;
}

.root footer li > * {
  padding: 0.75em 1em;
}

.root footer li {
  font-size: 1.5rem;
  white-space: nowrap;
  margin: 0;
  display: flex;
  align-items: center;
}

.root footer em {
  font-family: monospace;
  font-style: normal;
  color: var(--col-orange);
}
