.container {
  overflow: hidden;
}

.map {
  font-size: 0;
  width: 100%;
}

.map div,
.map a,
.map button {
  width: 10%;
  display: inline-block;
  padding-bottom: 10%;
  position: relative;
  font-size: 1.5rem;
}

.land {
  background-color: rgba(0, 0, 0, 0.5);
}

.sea {
  background-color: rgba(0, 0, 0, 0.2);
}

.map .eu {
  background-color: rgba(0, 0, 0, 1);
}

.map span {
  position: absolute;
  top: 0;
  color: white;
}

/* Focused state */
.focused {
  background: var(--col-text);
  height: 0;
  padding-bottom: 100%;
  position: relative;
  color: white;
}

.focused > div {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  width: 100%;
}

.focused h1 {
  top: 0;
  font: normal 3em var(--oswald);
  text-transform: uppercase;
}

.back {
  color: inherit;
  display: block;
  font-size: 1.25em;
  margin: 1em auto 0;
}

.back:hover {
  text-decoration: underline;
}
